</div>
    <div class="footer">
	Copyright©2014 All Rights Reserved
    </div>
    </body>
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
</html>